<%= form_for(test_case) do |f| %>
  <% if test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
      <% test_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :expected_result %>
    <%= f.text_field :expected_result %>
  </div>

  <div class="field">
    <%= f.label :sql_statement %>
    <%= f.text_field :sql_statement %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :test_suite_id %>
    <%= f.text_field :test_suite_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
